page-home {
}

.btn-homescreen{
    //position: absolute;
    border-top-left-radius: 15px;
    padding: 0;
    height: 80px;
    width: 30%;
    overflow: hidden;
}

.btn-img{
    position: absolute;
 z-index: 10;
}

.btn-Text{
    position: relative;
    z-index: 20;
    color: black;
    top: 20px;
    font-family: 'Times New Roman', Times, serif
}
