.ion_grid{background-color: white; height: 100%}

.ion_row{height: 50px;}

.logo{position: relative; height: 40px; top: 5px;}

.img_header{background-color: white; padding-top:5px}

.btn-museum{border-top-left-radius: 15px;}

.btn-restaurant{border-bottom-left-radius: 15px;}

.btn-landmark{border-top-right-radius: 15px;}

.btn-hop{border-bottom-right-radius: 15px;}

.btn-museum, .btn-restaurant, .btn-shopping, 
.btn-park, .btn-landmark, .btn-hop{
    background-color: white;
    overflow: hidden;
    height: 80px;
    width: 30%;
    top: 10px;
}

.btn-star{border-top-left-radius: 15px; border-bottom-left-radius: 15px;}

.btn-route{border-top-right-radius: 15px; border-bottom-right-radius: 15px;}

.btn-star, .btn-route{
    background-color: white;
    overflow: hidden;
    height: 120px;
    width: 40%;
    top: 20px;
}

.button-col-size{
    position: relative; 
    width: 100%; 
    margin: auto; 
    padding-left: 15px;
}

.button-col-size-big{
    position: relative; 
    width: 100%; 
    margin: auto; 
    left: 30px;
}


.btn-img{top: 0px;}

.btn-imgBig{top: 10px;}

.btn-img, .btn-imgBig{position: absolute; z-index: 10; width: 50%;}

.btn-Text{top: 25px;}

.btn-TextBig{top: 40px;}

.btn-Text, .btn-TextBig{
    position: relative;
    z-index: 20;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 95%;
}

.footer{
    z-index: 100;
    position: fixed;
    width: 100%;
    bottom: 0px;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 1px;
}

.img_home, .img_search, .img_fav, .img_seen{
    height: 40px;
    position: relative;
    justify-content: center;
}

.img_search, .img_fav, .img_seen{top: 4px;}

.col_home{background-color: grayscale($color: #FF6F75)}

.img_home{background-color: grayscale($color: #FF6F75)}
