.img_header{background-color: white; height: 40px;}

.title {
position: relative;
    z-index: 20;
    color: black;
    font-family: 'Times New Roman', Times, serif; 
    font-style: normal;
}

.Language {
 position: relative;
    z-index: 20;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}