page-settings{
    .col_home{background-color: white}
    .img_home{background-color: white}
}

.img_header{background-color: white; height: 40px;}

.content {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    
}

.title {
position: relative;
    z-index: 20;
    color: black;
    font-family: 'Times New Roman', Times, serif; 
    font-style: normal;
}
.Language {
 position: relative;
    z-index: 20;
    font-family: 'Times New Roman', Times, serif; 
    margin-left: 5%;  
}

.options {
   background-color: white; 
   width: 100px;
   border-radius: 10px;
   margin-right: 8px;
}
.contrast {
    margin-top: 8%;
    margin-left: 5%
}
.headline {
    text-align: left;
    margin-left: 5%;
    font-size: 18px; 
    text-decoration: underline;
    margin-bottom: 0px;
}
.info {
    color: black;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    text-shadow: 1px 1px lightgray;
}
.mail {
    color: black;
    text-align: center;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 100px;
    text-shadow: 1px 1px lightgray;
}
.slider {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px lightgray;
}
.imgs {
    margin-bottom: 0px;
}
.question {
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
}
.answer {
    text-align: center; 
    padding-left: 10px;
    padding-right: 10px;
}
.icon {
    width:20px;
    height:20px;
}








  

