// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:       #FF6F75,
  secondary:     #E9E9E9,
  highlight:     #F9F776,
  light:         #FFFFFF,
  dark:          #000000

);


$toolbar-background: white;
$background-color: #e5e2e2;
$card-md-text-color: black;

//toggle-ios
$toggle-ios-border-radius: 10px;
$toggle-ios-background-color-off: white;
$toggle-ios-handle-border-radius: 10px;
$toggle-ios-width: 100px;
$toggle-ios-height: 40px;
$toggle-ios-handle-width:50px;
$toggle-ios-handle-height:36px;

//toggle-android
$toggle-md-handle-background-color-off:white;
$toggle-md-track-width:100px;
$toggle-md-track-height: 40px;
$toggle-md-track-background-color-off: white;
$toggle-md-handle-width: 50px;
$toggle-md-handle-height:40px;
$toggle-md-handle-border-radius: 30%;

$label-md-text-color: black;





 


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$segment-button-md-border-color-activated: black;
$segment-button-md-border-bottom-width: 3px;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
