<ion-header>
  <ion-navbar>
    <ion-title>SEARCH</ion-title>
  </ion-navbar>
</ion-header>



<ion-content class="content" align="center">
<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<ion-list>
  <ion-item *ngFor="let item of items">
    <ion-icon id="attraction-icon" [name]=item.icon item-start large></ion-icon> {{ item.name }}
  </ion-item>
</ion-list>

<!--
<ion-card *ngFor="let attraction of attractions" (click)="openAttractionDetails(attraction)">

    <div id="img-container">
      <img id="attraction-img" src="{{'../../assets/imgs/' + attraction.img}}">
      <button ion-fab class="btn-fab-check">
        <ion-checkbox class="checkbox" checked={{attraction.seen}}></ion-checkbox>
      </button>
      <button ion-fab class="btn-fab-favourite">
        <ion-icon *ngIf="attraction.favourite" name="heart"></ion-icon>
        <ion-icon *ngIf="!attraction.favourite" name="heart-outline"></ion-icon>
      </button>

    </div>

    <ion-item text-wrap class="background-color">
      <ion-icon id="attraction-icon" [name]=attraction.icon item-start large></ion-icon>
      <h2 class="attraction-text">{{attraction.name}}</h2>
      <p class="attraction-text">{{attraction.desc}}</p>
    </ion-item>

    <ion-grid id="bottom-bar">
      <ion-row>
        <ion-col>
          <ion-icon *ngIf="attraction.stars > 0" class="icon-star" name="star" item-start small></ion-icon>
          <ion-icon *ngIf="attraction.stars > 1" class="icon-star" name="star" item-start small></ion-icon>
          <ion-icon *ngIf="attraction.stars > 2" class="icon-star" name="star" item-start small></ion-icon>
          <ion-icon *ngIf="attraction.stars > 3" class="icon-star" name="star" item-start small></ion-icon>
          <ion-icon *ngIf="attraction.stars > 4" class="icon-star" name="star" item-start small></ion-icon>
          <ion-icon *ngIf="attraction.stars < 2" class="icon-star" name="star-outline" item-start small></ion-icon>
          <ion-icon *ngIf="attraction.stars < 3" class="icon-star" name="star-outline" item-start small></ion-icon>
          <ion-icon *ngIf="attraction.stars < 4" class="icon-star" name="star-outline" item-start small></ion-icon>
          <ion-icon *ngIf="attraction.stars < 5" class="icon-star" name="star-outline" item-start small></ion-icon>
        </ion-col>
        <ion-col>
          <p>{{attraction.distance +'m'}}</p>
        </ion-col>
        <ion-col>
          <ion-icon *ngIf="attraction.price > 0" class="icon-usd" name="logo-usd" item-start small></ion-icon>
          <ion-icon *ngIf="attraction.price > 1" class="icon-usd" name="logo-usd" item-start small></ion-icon>
          <ion-icon *ngIf="attraction.price > 2" class="icon-usd" name="logo-usd" item-start small></ion-icon>
          <ion-icon *ngIf="attraction.price > 3" class="icon-usd" name="logo-usd" item-start small></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
-->
</ion-content>


