<ion-header>
  <ion-navbar>
    <ion-title> {{ 'SEARCH' | translate }} </ion-title>
  </ion-navbar>
</ion-header>



<ion-content class="content" align="center">
<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<ion-content>
<ion-list class="search-list">
    <!--tier 1-->
    <ion-list-header *ngFor="let attraction of attractions; let i = index" no-lines no-padding>
        <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': attraction.GUI_isOpen, 'section': !attraction.GUI_isOpen}">
            <ion-icon item-left name="arrow-forward" *ngIf="!attraction.GUI_isOpen"></ion-icon>
            <ion-icon item-left name="arrow-down" *ngIf="attraction.GUI_isOpen"></ion-icon>
            {{ attraction.name }}
        </button>
        
        <ion-list *ngIf="attraction.GUI_isOpen" no-lines>
            <!--tier 2-->
            <ion-list-header no-padding>
                <div id="img-container" no-padding no-lines>
                    <img id="attraction-img" src="{{'../../assets/imgs/' + attraction.img}}" (click)="openAttractionDetails(attraction)" no-lines no-padding>
                    <button ion-fab class="btn-fab-check" (click)="changeSeen(attraction)">
                        <ion-icon *ngIf="attraction.seen" name="checkbox-outline"></ion-icon>
                        <ion-icon *ngIf="!attraction.seen" name="square-outline"></ion-icon>
                    </button>
                    <button ion-fab class="btn-fab-favourite" (click)="changeFavourite(attraction)">
                        <ion-icon *ngIf="attraction.favourite" name="heart"></ion-icon>
                        <ion-icon *ngIf="!attraction.favourite" name="heart-outline"></ion-icon>
                    </button>
                    <div id="trophy-container" *ngIf="isTop10(attraction)" no-padding no-lines>
                        <ion-icon id="trophy-icon" name="trophy"></ion-icon>
                    <div id="trophy-text">10</div>
                </div>
                </div>
            </ion-list-header>
        </ion-list>
    </ion-list-header>
</ion-list>
</ion-content>

<div class="footer">
    <ion-grid class="ion_grid">
      <ion-row class="ion_row">
        <ion-col col-3 class="col_home">
          <button (click)="btnHome()" class="button_edit, col_home">
            <img class="img_home" alt="Search" src="assets/imgs/home.png">
          </button>
        </ion-col>
        <ion-col col-3 class="col_search">
          <button (click)="btnSearch()" class="col_search, button_editGray">
            <img class="img_search" alt="Search" src="assets/imgs/search.png">
          </button>
        </ion-col>
        <ion-col col-3 class="col_fav">
          <button (click)="btnFavourites()" class="col_fav, button_edit">
            <img class="img_fav" alt="Search" src="assets/imgs/heart.png">
          </button>
        </ion-col>
        <ion-col col-3 class="col_seen">
          <button (click)="btnSeen()" class="col_seen, button_edit">
            <img class="img_seen" alt="settings" src="assets/imgs/check.png">
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


