page-top10 {

    .col_home{background-color: white}
    .img_home{background-color: white}

    .spacing{
        height: 40px;
    }
  
    .fixed-content{
        background-color: rgb(220, 220, 220);
    }
    .toolbar-md{
        min-height: 40px;
        height: 50px;
        width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: 0 2px 2px 0px rgba($color: gray, $alpha: 0.7);
    }

    #navbar{
        background-color: white;
        width: 100%;
    }

    .icon-filter{
        color: black;
    }

    .card-md{
        margin-top: 0;
    }

}

.icon-star{
    color: rgb(238, 215, 88);
    white-space: nowrap;
}


ion-title{
    width: 100%;
    text-align: center;
    position: absolute;
    
}


#img-settings{
    position: absolute;
    top: 14px;
    right: 5%;
    height: 35px;
    padding: 0;
}

#header-icon-text-container{
    position: relative;
    margin-top: 20px;
 
}

#icon-header{
    position: absolute;
    height: 20px;
    left: 32%;
    top: 0px;
    
}

.back-button{
    position: absolute;
    z-index: 100;
   

}

.icon-usd{
    color: green;
}

ion-row{
    text-align: center;
}

.card{
    background: white;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    transition: all 2s;
    
}

.background-color{
    background-color: white;
}

#img-container{
    position: relative;
}

#trophy-container{
    height: 30px;
    width: 30px;
    position: absolute;
    left: 5%;
    bottom: 5%;
}

#top10-icon{
    font-size: 35px;
    position: relative;
    z-index: 10;
}

.btn-sort{
    border-bottom: 5px solid hidden yellow;
}

.btn-fab-favourite{
    position: absolute;
    top: 5%;
    right: 2%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px ;
    z-index: 2;
}

.btn-fab-check{
    position: absolute;
    top: 5%;
    left: 2%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px ;
    z-index: 2;
}

.attraction-text{
    padding-top: 10px;
}

#attraction-icon{
    margin-left: 15px;
    z-index:1;
}

#bottom-bar{
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid rgba($color: gray, $alpha: 0.5)
}
