page-visited{
    #content{
        height: 100px;
        margin: auto;
       
    }

    .col_home, .col_search, .col_fav, .col_seen{
        left: 20px;
    }
    
    #img-container{
        width: 40%;
        height: 100px;
        float: left;
    }

    .img_attraction{
        height: 100%;
        width: 100%;
    }

    .btn-fab-favourite{
        position: absolute;
        top: 5%;
        right: 5%;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px ;
        z-index: 2;
    }

    #text-container{
        margin-left: 45%;
        padding-top: 3%;
    }

    #name-text{
        border-bottom: 1px solid rgba($color: gray, $alpha: 0.5);
        margin-bottom: 3%;
    }

    ion-row{
       text-align: left;
    }

    #visited-text-header-container{
        height: 40px;
        width: 100%;
        background-color: #FF6F75;
    }

    #visited-text{
        margin: 0;
        padding-top: 12px;
        text-align: center;
    }
    
    .fixed-content{
        margin-top: 100px !important;
    }
}